.date-time-picker-popover {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  margin: 5px;
  padding: 5px;
  position: absolute;
  width: 240px;
  z-index: 99999;
}

.date-time-picker-popover div {
  text-align: center;
  user-select: none;
}

.date-time-picker-popover .top,
.date-time-picker-popover .bottom {
  height: auto;
}

.date-time-picker-popover .top div {
  display: inline-block;
  padding: 0.1px 3px;
}

.date-time-picker-popover .center {
  height: auto;
}

.date-time-picker-popover .center .row {
  height: 25px;
}

.date-time-picker-popover .center .row .cell {
  display: inline-block;
}

.date-time-picker-popover .center .select-year > div .year,
.date-time-picker-popover .center .select-month > div .month {
  width: 25%;
}

.date-time-picker-popover .center .select-date > div .week-day-title,
.center .select-date > div .week-day {
  width: 14%;
}

.date-time-picker-popover .center .select-date > div .week-day {
  color: #d0d0d0;
}

.date-time-picker-popover .center .select-date > div .week-day.current-month {
  color: #000;
}

.date-time-picker-popover .center .select-hour > div .hour,
.date-time-picker-popover .center .select-minute > div .minute,
.date-time-picker-popover .center .select-second > div .second {
  width: 16%;
}

.date-time-picker-popover .top .cell:hover,
.date-time-picker-popover .center .cell:hover,
.date-time-picker-popover .bottom .cell:hover,
.date-time-picker-popover .center .cell.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.date-time-picker-popover .bottom .select-time > div {
  display: inline;
  padding: 0.1px 3px;
}

