.top-bar {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.top-bar div {
  user-select: none;
}

.top-bar > div {
  color: #ffffff;
  height: inherit;
}

.top-bar .float-left,
.top-bar .float-left > div {
  float: left;
}

.top-bar .float-right,
.top-bar .float-right div {
  float: right;
}

.top-bar .float-left,
.top-bar .float-right {
  height: inherit;
}

.top-bar .float-left > div,
.top-bar .float-right > div {
  height: inherit;
  padding: 14px 16px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}


