.top-bar {
  overflow: hidden;
  height: inherit;
  width: inherit;
}

.top-bar div {
  user-select: none;
}

.top-bar > div {
  color: #ffffff;
  height: inherit;
}

.top-bar > div {
  height: inherit;
}

.top-bar > div > div {
  height: inherit;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}


